# Ignore build directories and their contents
build_shmem/
build/
bld*/

# Ignore CMake build directories and files
CMakeFiles/
cmake_install.cmake
CMakeCache.txt
CTestTestfile.cmake
Makefile
compile_commands.json
globalarrays-config.cmake
globalarrays-config-version.cmake
globalarrays-targets.cmake

# Ignore all files in any CMakeFiles directory recursively
**/CMakeFiles/
**/CMakeFiles/**

# Ignore test and object files
*.x
*.o
*.log

# Ignore any .o, .x, .log files in subdirectories
**/*.o
**/*.x
**/*.log
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.cproject
.project
.settings
Makefile.in
aclocal.m4
autom4te.cache
configure
armci/config.h.in
comex/config.h.in
config.h.in
log.00*
org.eclipse.cdt.core.prefs
org.eclipse.cdt.ui.prefs
.autotools
.externalToolBuilders/org.eclipse.cdt.autotools.core.genmakebuilderV2.launch
compile
config.guess
config.sub
depcomp
install-sh
missing
lt~obsolete.m4
ltversion.m4
ltsugar.m4
ltoptions.m4
ltmain.sh
libtool.m4
config.h.in~
*~
autotools
bld*
build-aux
